.container-fluid {
    padding: 0;
}

/* Navber */

.navbar {
    border-bottom: 1px solid #333;
    margin-bottom: 20px;
}

.navbar-nav {
    margin: auto;
}

.navbar-brand {
    font-weight: bold;
}

.navbar-light .navbar-nav a.navlink {
    color: #333;
    letter-spacing: 1px;
}

/* Botão de adicionar */

#add-link {
    text-decoration: none;
}

.add-div {
    background-color: #3475e2;
    cursor: pointer;
    display: inline-block;
    color: #fff;
    padding: 8px;
    border-radius: 5px;
    margin-right: 25px;
}

.fa-solid.fa-plus {
    color: #fff;
    margin-right: 10px;
    margin-left: 5px;
}

/* Lista de tarefas */

.list-div {
    padding: 0;
}

.task-list{
    padding-left: 0;
}

.task-item{
    list-style: none;
    font-size: 20px;
    height: 50px;
    padding-top: 10px;
    border-bottom: 1px dashed #ccc;
}

.fa-solid.fa-trash, .fa-solid.fa-edit {
    cursor: pointer;
    margin: 5px;
    font-size: 20px;
    float: right;
}

.fa-solid.fa-trash {
    color: #db1e47;
}

.fa-solid.fa-edit {
    color: #13c43f;
}

/* Search */

.fa-solid.fa-search {
    position: absolute;
    top: 11px;
    right: 18px;
    cursor: pointer;
}

.search-div {
    position: relative;
    padding: 0px;
    margin-top: 15px;
    margin-bottom: 15px;
    display: inline-block;
}

/* Rodapé */

footer {
    background-color: #333;
    height: 300px;
    border-top: 2px solid #202020;
}

footer p {
    color: #f5f5f5;
    text-align: center;
    top: 50%;
    position: relative;
}

/* Messages */

ul.messages {
    padding: 0;
}

ul.messages li {
    list-style: none;
}

/* Paginação */

.pagination {
    margin-bottom: 20px;
}

.step-links {
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.step-links .current {
    margin-left: 5px;
    margin-right: 5px;
}

/* Login */

.auth-card {
    margin-bottom: 30px;
}